.question{
	color: blue;
	cursor: pointer;
	display: block;
}

.term{
	color: red;
	text-decoration: underline;
}
.header{
	font-size: x-large;
	margin-top: 2ex;
	display: block;
}
.header_description{
	margin-top: 1ex;
	margin-bottom: 2ex;
	display: block;
	font-style: italic;
}


#main{
	float: right;
	width: 66%;
	height: 100%;
	border: none;
}

body{
	display: table;
	height: 100%;
	width: 100%;
}
body > *{
	width: 60%;
	overflow-x: hidden;
	margin: 0em;
	padding: 0em;
}

#nav{
	float: left;
	width: 33%;
	height:100%;
	margin-right: 2em;
	border: none;
	border-right: .2em solid gray;
	padding: 0;
	margin: 0;
}
#navbody{
	width: 95%;
}
#navbody > *{
	width: inherit;
	overflow-x: default;
	padding 1em;
}